.body-content {
  display: flex;
  //margin-right: 30px;
  justify-content: space-between;
  height: 350px;
}

.chart, .chart2, .block1, .block2, .block3, .block4, .block5, .block6 {
  width: 40%;
  padding: 30px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  box-shadow: 0 1px 22px -12px #607D8B;
  margin: 7px;
  align-items: center;
}

.date-block {
  display: flex;
  flex-direction: column;
}

.date-block-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  box-shadow: 0 1px 22px -12px #607D8B;
  margin: 7px;
  align-items: center !important;
  height: 65px !important;
  width: 94.5% !important;
}

.chart2 {
  width: 60%;
}

.block1, .block2, .block3, .block4, .block5, .block6 {
  width: 25%;

  img {
    height: 70px;
  }

  p {
    font-family: "Source Sans Pro", sans-serif;
    text-anchor: start;
    dominant-baseline: auto;
    font-size: 20px;
    font-weight: 700;
    color: rgb(55, 61, 63);
    margin-bottom: 0;
  }
}

.info-data {
  font-size: 45px !important;
  font-weight: 900 !important;
}

.info-wrapper .date {
  font-size: 25px;
  font-weight: 700;
}

.info-img-block {
  background: rgba(88, 227, 128, 0.2);
  border-radius: 100%;
  padding: 40px;
  filter: blur(4px);
}

.info-img {
  position: absolute;
  bottom: 10px;
  left: 12px;
}

.chart-wrapper {
  width: 100%;
  height: 100%;
}

.info-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.dist {
  text-align: center;
}

.btn {
  line-height: 1rem !important;
}

.w3-animate-opacity {
  margin: 3rem auto 1rem auto;
  width: 95%;
}

.no-content {
  font-family: 'Libre Baskerville', serif !important;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;

  p {
    color: rgb(0 0 0 / 40%);
    text-align: center;
    position: relative;
    margin-bottom: 0;
  }

  .no-data-image img {
    position: absolute;
    width: 40%;
    z-index: -1;
    top: 8%;
    left: 30%;
  }
}

.panel-body {
  //max-height: 500px;
  padding: 10px 0 20px 0;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.btn {
  transition: 0.5s;
}

#download {
  display: none;
}
