.avatar {
  height: 30px;
  width: 30px;
  background: url("../../assets/images/icons8-spinning-circle-100.png") no-repeat;
  background-size: 30px;
  display: inline-block;
  margin-right: 25px;
  transition: 1s;
  border: none !important;
}

.avatar:hover, #dropdown:focus {
  background: url("../../assets/images/icons8-spinning-circle-100 (1).png") no-repeat;
  background-size: 30px;
}

.avatar::after {
  display: none;
}

.dropdown-menu {
  position: absolute;
  right: 40px;
  width: 200px;
  font-size: 15px;
}

.settings-btn {
  color: black;
  font-size: 15px;
  padding: 3px 0 3px 3px !important;
  width: 100%;
  border: 0;
  text-align: left;
  background: #fff;

  img {
    width: 15px;
    margin: 0 0 2px 0;
  }
}

.settings-btn:hover {
  background: rgba(220, 236, 255, 0.6);
  border-radius: 8px;
}

.settings-block {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.p-email {
  color: #B3BAC5;
  font-size: 13px;
  margin-bottom: 0;
  overflow-wrap: anywhere;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.navbar {
  padding: 1rem 5rem;
}

.nav-block {
  display: flex;
}

.small-head-text {
  font-weight: 900 !important;
  font-family: 'Inter', serif;
  color: rgb(76 126 253);
  margin: 0;
  line-height: 12px;
  position: absolute;
  top: 42px;
}

.net-icon {
  height: 20px;
  width: 20px;
}

.logo-link {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  align-items: center;
}

.head-text {
  font-weight: 900 !important;
  font-family: 'Inter', serif;
  font-size: 68px;
  line-height: 80px;
  margin: 0;
}

.task-span {
  position: absolute;
  top: 13.3rem;
  left: 9.1rem;
  width: 325px;
  color: rgb(76 126 253);
  transition: 0.5s ease-out;
  z-index: 10;
}

.transition-task-span {
  position: absolute;
  color: rgb(76 126 253);
  font-weight: 900 !important;
  font-family: 'Inter', serif;
  transform: translate(-21px, -57px);
  font-size: 15px;
  margin: 0;
  line-height: 20px;
  transition: 0.5s ease-in;
  z-index: 10;
  top: 6.5rem;
  left: 7.4rem;
}


@media (min-width: 1401px) and (max-width: 1560px) {
  .head-text {
    font-size: 60px;
    line-height: 70px;
  }
  .transition-task-span {
    position: absolute;
    color: #4c7efd;
    font-weight: 900 !important;
    font-family: "Inter", serif;
    transform: translate(-21px, -57px);
    font-size: 15px;
    margin: 0;
    line-height: 20px;
    transition: 0.5s ease-in;
    z-index: 10;
    top: 6.5rem;
    left: 7.4rem;
  }
}

@media (max-width: 1400px) {
  .head-text {
    font-size: 55px;
    line-height: 60px;
  }
  .navbar {
    padding: 1rem 2rem;
  }
  .transition-task-span {
    position: absolute;
    color: #4c7efd;
    font-weight: 900 !important;
    font-family: "Inter", serif;
    transform: translate(-21px, -57px);
    font-size: 15px;
    margin: 0;
    line-height: 20px;
    transition: 0.5s ease-in;
    z-index: 10;
    top: 6.5rem;
    left: 4.4rem;
  }
}

@media (max-width: 1382px) {
  .head-text {
    font-size: 50px;
    line-height: 55px;
  }
  .task-span {
    left: 6.1rem;
  }
  .transition-task-span {
    position: absolute;
    color: #4c7efd;
    font-weight: 900 !important;
    font-family: "Inter", serif;
    transform: translate(-21px, -57px);
    font-size: 15px;
    margin: 0;
    line-height: 20px;
    transition: 0.5s ease-in;
    z-index: 10;
    top: 6.5rem;
    left: 4.4rem;
  }
}
