<nav class="navbar navbar-expand">
  <div class="navbar-nav">
    <div class="nav-item nav-link logo-link">
      <img src="./assets/images/icons8-network-2-64.png" alt="" class="net-icon">
      <!--      <img src="./assets/images/Group%202.png" alt="" width="130" style="position: absolute; top: 4px;">-->
      <!--      <p class="small-head-text" [@inOutAnimation] *ngIf="url != '/'">TASKERY</p>-->
      <p class="head-text task-span" [ngClass]="url == '/' ? 'task-span' : 'transition-task-span'">TASKERY</p>
    </div>
    <div class="nav-block">
      <a class="nav-item nav-link project-list" (click)="home()">Home</a>
      <a class="nav-item nav-link project-list" id="projectList" (click)="projectList()">Project list</a>
      <a class="nav-item nav-link report" (click)="report()">Report</a>
    </div>
    
    <div ngbDropdown class="d-inline-block" style="height: 30px;" placement="left-top">
      <button type="button" id="dropdown" ngbDropdownToggle class='avatar' (click)="getUpdatedData()"></button>
      <div ngbDropdownMenu aria-labelledby="dropdown" id="ngbDropdownMenu">
        <div class="px-3 py-3">
          <div class="mb-4 header">
            <b style="font-size: 17px;">Account</b>
            <p style="margin-bottom: 0; font-size: 11px; color: #4650DD; font-weight: 600;">{{currentUserData.role}}</p>
          </div>
          <div class="mb-4">
            <p style="margin-bottom: 0;">{{currentUserData.firstName}} {{currentUserData.lastName}}</p>
            <p class="p-email">{{currentUserData.email}}</p>
          </div>
          <div class="dropdown-divider"></div>
          <div class="mt-1 mb-1 settings-block">
            <button class="nav-item nav-link settings-btn" (click)="goToUserSettings()">
              <img src="https://img.icons8.com/ios-glyphs/30/null/settings--v1.png" alt=""> User Settings
            </button>
          </div>
          <div class="mb-1">
            <button class="nav-item nav-link settings-btn" (click)="''">
              <img src="https://img.icons8.com/material/24/null/appointment-reminders--v1.png" alt=""> Notifications
            </button>
          </div>
          <div class="dropdown-divider"></div>
          <div class="mt-1">
            <button class="nav-item nav-link settings-btn" (click)="logout()">
              <img src="https://img.icons8.com/ios-glyphs/30/null/exit.png" alt=""> Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
