<div class="page-holder align-items-center py-2 bg-gray-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 px-lg-4">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">Taskery Register</div>
          </div>
          <div class="card-body" style="padding: 2rem!important;">
            <h3 class="mb-4">Get started with Taskery</h3>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div style="margin: -0.5rem auto 10px auto; text-align: center;">
                <mat-button-toggle-group formControlName="role" #roleToggle="matButtonToggleGroup" multiple=false
                                         style="border: none"
                                         [value]="selectedVal" (change)="onValChange(roleToggle.value)"
                                         [ngClass]="{ 'is-invalid': submitted && f.role.errors }" required>
                  <mat-button-toggle class="form-control role-toggle" value="ProjectManager">
                    Project Manager
                  </mat-button-toggle>
                  <mat-button-toggle class="form-control role-toggle2" value="TeamMember" checked>
                    Team Member
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" formControlName="firstName" type="text"
                       placeholder="First Name"
                       [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required>
                <label>First Name</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" formControlName="lastName" type="text"
                       placeholder="Last Name"
                       [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required>
                <label>Last Name</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" formControlName="email" type="email"
                       placeholder="name@example.com"
                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                <label>Email</label>
                <mat-error class="error-message" *ngIf="f.email.errors && f.email.errors.email">
                  Email must be valid
                </mat-error>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" formControlName="password" type="password"
                       placeholder="Password"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                <label>Password</label>
                <mat-error class="error-message" *ngIf="f.password.errors && f.password.errors.minlength">
                  Password must be at least 6 characters long
                  <br>
                </mat-error>
                <mat-error class="error-message" *ngIf="f.password.errors && f.password.errors.pattern">
                  Your password must contain at least one uppercase, one lowercase, and one number
                </mat-error>
              </div>
              <div class="form-check mb-3" style="float: right;">
                <input class="form-check-input" type="checkbox" formControlName="agree"
                       [ngClass]="{ 'is-invalid': submitted && f.agree.errors }" required>
                <label class="form-check-label">I agree with the <a routerLink="/register"
                                                                    href="/register">Terms &
                  Conditions</a></label>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Register</button>
              </div>
            </form>
          </div>
          <div class="card-footer px-lg-5"
               style="padding-top: 0.5rem!important; padding-bottom: 0.5rem!important;">
            <div class="text-sm text-muted">Already have an account? <a routerLink="/login" href="/login">Login</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary">
        <img src="./assets/images/the-importance-of-a-website-for-a-business-1768668%20(1).svg" alt=""
             style="transform: scale(1.4);">
        <h1 class="mb-4">Taskery.com <br class="d-none d-lg-inline">your free assistant.</h1>
        <p class="lead text-muted" style="font-size: 1.1rem!important;">The best project management tool for
          high quality development.</p>
      </div>
    </div>
  </div>
</div>
