.page-holder {
  min-height: 100vh;
  display: flex;
}

.role-toggle {
  border: solid 0.5px #8f8f8f30;
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.role-toggle2 {
  border: solid 0.5px #8f8f8f30;
  border-radius: 0 5px 5px 0;
  border-right: solid 0.5px #8f8f8f30;
  border-left: none !important;
}

mat-error {
  font-size: 12px;
}

.idea {
  height: 15px;
  margin-left: 10px;
}

::ng-deep .mat-tooltip {
  background: grey;
  font-size: 11px;
  font-weight: 300 !important;
}

.business-img {
  transform: scale(1.39);
}

fa-icon {
  position: absolute;
  top: 17px;
  right: 30px;
  color: #949ba5;
}
