.board {
  display: flex;
  justify-content: space-evenly;
}

.example-container {
  width: 380px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.card-header {
  position: relative;
  padding: 2rem 2rem;
  border-bottom: none;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  z-index: 2;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 1rem;
  margin-bottom: 2rem !important;
  width: 60%;
}

.bg-gray-100 {
  background-color: #f8f9fa !important;
}

.text-primary {
  color: #444 !important;
  font-size: 1.2rem;
  font-weight: 700;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {

  font-weight: 700;
  line-height: 1.2;
}

.lead {
  font-size: 1.125rem;
  font-weight: 300;
}

.text-sm {
  font-size: .7875rem !important;
}

h3, .h3 {
  font-size: 1.575rem;
}

.page-holder {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  min-height: calc(100vh - 72px);

  flex-wrap: wrap;
}

a {
  color: #4650dd !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.right-field {
  margin-bottom: 1rem !important;
  margin-left: 1rem !important;
}

.fab {
  display: flex;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: #0d6efd;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  text-align: center;
  transition: all 0.1s ease-in-out;
  justify-content: center;
  align-items: center;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.add {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(2);
  color: #85888d;
  text-shadow: 1px 1px 1px #b8b8b899, -2px -2px 1px white;
}

.card-header {
  padding: 0.6rem 2em;
}

.close-button {
  width: 100%;
  border-radius: 0 0 0.25rem 0.25rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #f0f1f2;
  color: #888E99;
  font-weight: 500;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -45px;
  left: -25px !important;
  font-size: 0.7rem;
  transition: visibility 1s cubic-bezier(0.76, -0.37, 0.15, 1.23);
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f0f1f2 transparent transparent transparent;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trash {
  height: 20px;
  cursor: pointer;
}

.card-content {
  padding: 0.5rem;

  p {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
  }

  div {
    max-height: 50px;
    line-height: 1rem;
    word-break: break-word;
  }
}

.text-muted {
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-align: justify;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  max-height: 82px;
  margin-bottom: 1rem;
}

.scene5 {
  position: absolute;
  left: 60%;
  top: 16%;
  width: 33%;
  transform: scale(1.2);
  z-index: -1;
}

.corner {
  //border-radius: 0 0 calc(1rem - 1px) calc(1rem - 1px);
  //font-size: 0.7rem;
  //padding: 3px;
  text-decoration: none !important;
  position: relative;
  //color: #6a779a !important;
  //transition: all .5s ease-in-out;

  //&:hover {
  //  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  //}
  &:active, &:focus {
    border: 0;
  }
}

::ng-deep .multiselect-dropdown .dropdown-btn {
  height: 50px !important;
  padding: 12px 8px !important;
  border: 1px solid #d3d8dd !important;

  span {
    color: #999999 !important;
  }
}

::ng-deep .dropdown-multiselect__caret {
  height: 50px !important;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  border: 1px solid rgb(169 176 182 / 10%) !important;
  background: rgb(169 176 182 / 20%) !important;
  border-radius: 15px !important;
  padding: 2px 10px !important;
  margin-top: -3px;

  a {
    color: #444444 !important;
  }
}

::ng-deep .multiselect-item-checkbox input[type=checkbox] + div:before {
  color: #0d6efd !important;
  border: 2px solid #0d6efd !important;
}

::ng-deep .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background: #0d6efd !important;
}

::ng-deep .no-filtered-data h5, ::ng-deep .no-data h5 {
  font-family: "Inter", sans-serif !important;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.5) !important;
  padding-top: 10px !important;
}

.created-by {
  color: #282a2ba8;
  font-size: 9px;
  line-height: 9px;
  text-align: right;
  position: absolute;
  top: 13%;
  font-weight: 600;
  right: 5%;
  font-family: "Source Sans Pro", sans-serif;
}

.add-btn {
  background-color: #F4F5F7 !important;
  margin-left: auto !important;
  margin-right: 20px !important;

  &:hover {
    background-color: rgb(237 237 237) !important;
  }
}

.circle:hover .tooltiptext {
  visibility: visible;
}

.no-content {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;

  p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    text-align: center;
    width: 600px;
  }
}

::ng-deep .form-floating > label {
  color: #999999 !important;
  padding: 1rem .75rem;
}

.custom-table {
  border-spacing: 0 15px;
  border-collapse: separate;
  padding: 0 1rem 1rem;

  thead, tbody {
    tr {
      th, td {
        vertical-align: middle;
        border: none;
        padding: 0 1rem;

        &:nth-last-child(1) {
          text-align: center;
        }
      }
    }
  }


  tbody {
    tr {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background: #fff !important;
      height: 95px;

      td {
        background: #fff;
        padding: 1rem;

        &:nth-child(1) {
          border-radius: 10px 0 0 10px;
        }

        &:nth-last-child(1) {
          border-radius: 0 10px 10px 0;
        }
      }

      th {
        padding: 1rem;
      }
    }
  }
}

.status .status-text {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  padding: 4px 8px !important;
  background: rgb(237, 249, 255);
  border: 1px solid #fff;
  border-radius: 10px;
}

.circle {
  display: inline-block;
  border-radius: 100%;
  height: 7px;
  width: 7px;
  margin-right: 5px;
  color: rgba(255, 255, 255, 0);
}

.keyboard-tab {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.tooltiptext, .tooltipcalc, .tooltiptemplate {
  visibility: hidden;
  width: max-content;
  background-color: #f0f1f2;
  color: #888E99;
  font-weight: 500;
  text-align: center;
  padding: 3px 5px !important;
  border-radius: 10px !important;
  position: absolute;
  z-index: 1;
  top: -23px !important;
  left: -48px !important;
  font-size: 10px !important;
  transition: visibility 1s cubic-bezier(0.76, -0.37, 0.15, 1.23);
}

.tooltiptext::after, .tooltipcalc::after, .tooltiptemplate::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 70% !important;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f0f1f2 transparent transparent transparent;
}

.corner:hover .tooltiptext {
  visibility: visible;
}

.calc-budget:hover .tooltipcalc {
  visibility: visible;
  z-index: 1000000;
}

.generate-desc:hover .tooltiptemplate {
  visibility: visible;
  z-index: 1000000;
}

.tooltipcalc {
  left: 95px !important;
}

.tooltiptemplate {
  left: -65px !important;
}

.calc-budget, .generate-desc {
  height: 20px;
  padding-left: 5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
