<div>
  <div class="w3-animate-opacity" style="margin: 5rem auto 5rem auto; width: 95%;">
    <div style="margin: 3rem auto 1rem;" *ngIf="currentUser.role == 'ProjectManager'">
      <button (click)="addProject(addUpdateContent, $event)" class="add-btn">
        <mat-icon class="add-btn-icon">add</mat-icon>
        {{'add-project' | transloco}}
      </button>
    </div>
    <div class="projects-wrapper w3-animate-opacity custom-table-responsive" *ngIf="!!projects.length"
         style="border-radius: 4px;background: #f4f5f7;margin: 0 10px;">
      <table class="custom-table">
        <thead>
        <tr>
          <th style="width: 200px;">{{'project-name' | transloco}}</th>
          <th>{{'desc' | transloco}}</th>
          <th style="width: 150px;">{{'status' | transloco}}</th>
          <th style="width: 20px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let  project of  projects; let idx = index" (dblclick)="openModal(previewContent, project)">
          <td>{{project.projectName}}</td>
          <td class="text-muted text-sm" [innerHTML]="project.description | safeHtml"></td>
          <td class="status">
            <span [ngStyle]="linkStyle(project)" class="status-text">
            <div class="circle">
              {{project.status}}
            </div>
              {{project.status}}
            </span>
          </td>
          <td>
            <a [routerLink]="['/board', {'paramKey': project.id}]" class="btn corner">
              <span class="tooltiptext">{{'go-to-tasks-list' | transloco}}</span>
              <mat-icon class="keyboard-tab">keyboard_tab
              </mat-icon>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="no-content" *ngIf="!projects.length">
      <p>{{'no-data' | transloco}}😢<br>{{'switch-role' | transloco}}</p>
    </div>
  </div>
</div>

<ng-template #addUpdateContent let-modal>
  <div class="container">
    <div class="row align-items-center">
      <div class="card-header px-lg-5">
        <div class="card-heading text-primary">{{(addProjectFlag ? 'add-project' : 'update-project') | transloco}}</div>
      </div>
      <div class="card-body" style="padding: 2rem!important;">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit(modal)">
          <div class="form-floating" style="width: 100%; margin-bottom: 15px">
            <input class="form-control" type="text" placeholder="{{'project-name' | transloco}}"
                   formControlName="projectName"
                   [ngClass]="{ 'is-invalid': submitted && projectForm.invalid && f.projectName.errors }" required>
            <label>{{'project-name' | transloco}}</label>
          </div>
          <div class="form-floating mb-3">
<!--            <p class="generate-desc">-->
<!--              <img src="https://img.icons8.com/ios-glyphs/90/null/adobe-illustrator.png" style="height: 20px;"-->
<!--                   (click)="writeBriefAI()"-->
<!--                   alt="">-->
<!--              <span class="tooltiptemplate">{{'desc-ai' | transloco}}</span>-->
<!--            </p>-->
            <quill-editor class="form-control" style="padding: 1rem .75rem; height: 150px;"
                          format="html"
                          formControlName="description" placeholder="{{'desc' | transloco}}"
                          (onEditorChanged)="contentChanged($event)"
                          [modules]="quillConfig"></quill-editor>
          </div>
          <div *ngIf="addProjectFlag == false" class="form-floating right-field" style="margin-left: 0 !important;">
            <ng-select2 formControlName="status" [width]="'100%'" [data]="statusData">
            </ng-select2>
          </div>
          <div style="display: flex; align-items: center; margin-bottom: 1rem;">
            <div class="form-floating" style="margin-left: 0 !important;width: 68%;">
              <ng-multiselect-dropdown
                style="width: 60%;"
                [placeholder]="'assign-to' | transloco"
                [settings]="dropdownSettings"
                [data]="usersData"
                formControlName="assignedUsers">
              </ng-multiselect-dropdown>
            </div>
            <!--            <div class="form-floating" style="width: 32%; display: flex;justify-content: flex-end; align-items: center; position: relative;">-->
            <!--              <span style="position: absolute;right: 65%;">$</span>-->
            <!--              <input class="form-control" type="float" placeholder="{{'budget' | transloco}}"-->
            <!--                     inputWithComma-->
            <!--                     [ngModelOptions]="{standalone: true}"-->
            <!--                     [(ngModel)]="projectForm.value.budget" (ngModelChange)="budgetChanged($event)"-->
            <!--                     style="height: 30px;padding: 0.3rem 0.5rem 0.3rem 1.3rem;width: 60%;"-->
            <!--                     [ngClass]="{ 'is-invalid': submitted && projectForm.invalid && f.budget.errors }" required>-->
            <!--              <p class="calc-budget">-->
            <!--                <img src="https://img.icons8.com/material-outlined/96/null/calculator&#45;&#45;v1.png" style="height: 20px;"-->
            <!--                     (click)="calcBudgetAI()"-->
            <!--                     alt="">-->
            <!--                <span class="tooltipcalc">{{'budget-ai' | transloco}}</span>-->
            <!--              </p>-->
            <!--            </div>-->
            <div class="form-floating" style="width: 32%;align-items: center;display: flex;position: relative;">
              <span style="position: absolute;right: 65.5%;">$</span>
              <input class="form-control" type="float" placeholder="{{'budget' | transloco}}"
                     inputWithComma
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="budget" (ngModelChange)="budgetChanged($event)"
                     style="min-height: 30px;height: 30px;padding: 0.3rem 0.5rem 0.3rem 1.5rem;width: 75%;margin-right: 0;margin-left: auto;"
                     [ngClass]="{ 'is-invalid': submitted && projectForm.invalid && f.budget.errors }" required>
            </div>
          </div>
          <button class="btn btn-primary close-button" type="submit"
                  style="border-radius: 0 0 calc(1rem - 1px) calc(1rem - 1px)"
                  [disabled]="projectForm.invalid">{{'submit' | transloco}}
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #previewContent let-modal>
  <div class="container">
    <div class="row align-items-center">
      <div class="card-body" style="padding: 2rem;">
        <div class="form-floating title-block">
          {{previewData.projectName}}
        </div>
        <hr class="line">
        <div class="body-content">
          <div class="left-block">
            <div class="form-floating">
              <p>{{'status-uc' | transloco}}</p>
              <span>{{previewData.status | transloco}}</span>
            </div>
            <div class="form-floating">
              <p>{{'сreated-uc' | transloco}}</p>
              <span>{{previewData.createdAt | date: 'shortDate'}}</span>
            </div>
            <div class="form-floating">
              <p>{{'budget-uc' | transloco}}</p>
              <span>≈ ${{previewData.budget | numberPipe}}</span>
            </div>
            <div class="form-floating">
              <p>{{'assigned-employees-uc' | transloco}}</p>
              <span style="font-size: 12px; line-height: 13px;"
                    [innerHTML]="previewData.assignedUsers | safeHtml"></span>
            </div>
          </div>
          <div class="right-block">
            <div class="form-floating description-block" [innerHTML]="previewData.description | safeHtml">
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="currentUser.role == 'ProjectManager'" class="card-footer">
        <div class="action-btns">
          <button class="update-task" style="border: 1px solid #fff;" (click)="updateProject(addUpdateContent, modal)">
            {{'update' | transloco}}
          </button>
          <button class="delete-task" (click)="deleteProject(deleteContent, modal)">
            {{'delete' | transloco}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteContent let-modal>
  <div class="container">
    <div class="row align-items-center">
      <div class="card-body" style="padding: 3rem!important;">
        <h5 style="text-align: center;">{{'sure-project' | transloco}}</h5>
        <div style="display: flex; justify-content: space-around; align-items: center; margin-top: 50px;">
          <button style="font-size: 13px;" class="btn btn-outline-danger"
                  (click)="isDelete('cancel', modal)">{{'cancel' | transloco}}
          </button>
          <button style="font-size: 13px;" class="btn btn-outline-primary" (click)="isDelete('confirm', modal)">
            {{'confirm' | transloco}}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ngx-spinner bdColor="rgb(238 238 238 / 60%)" size="default" color="rgb(15 16 72)" type="ball-beat"
             [fullScreen]="true"></ngx-spinner>
