<div class="box circle" (click)="addProject(content, $event)">
  <span class="tooltiptext">Add new project</span>
  <p class="add">&#65291;</p>
</div>

<img src="./assets/images/Scenes05.svg" alt="" class="scene5">
<div class="projects-wrapper w3-animate-opacity" *ngIf="!!projects.length">
  <div *ngFor="let  project of  projects; let idx = index">
    <div class="container" (dblclick)="this.currentUser.role == 'ProjectManager' ? updateProject(content, project) : ''">
      <div class="card" [ngStyle]="{'margin': idx < 1 ? '0' : '0 auto', 'width': idx >= 1 ? '80%' : '60%'}">
        <div class="card-header px-lg-5">
          <p style="float: right; margin: 0;">{{project.status}}</p>
        </div>
        <div class="card-body">
          <h3>{{ project.projectName}}</h3>
          <p class="text-muted text-sm">
            {{ project.description}}
          </p>
        </div>
        <a [routerLink]="['/board', {'paramKey': project.id}]" class="btn corner" [ngStyle]="linkStyle(project)">
          go to the task list
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="container">
    <div class="row align-items-center">
      <div class="card-header px-lg-5">
        <div class="card-heading text-primary">{{addTaskFlag ? 'Add new project' : 'Update the project'}}
          <img *ngIf="!addTaskFlag" src="./assets/images/icons8-trash-can-480.png" alt="" class="trash"
               (click)="deleteProject(modal)">
        </div>
      </div>
      <div class="card-body" style="padding: 2rem!important;">
        <form [formGroup]="projectForm" (ngSubmit)="onSubmit(modal)">
          <!--          <div style="display: flex;">-->
          <div class="form-floating" style="width: 100%; margin-bottom: 15px">
            <input class="form-control" type="text" placeholder="Project Name"
                   formControlName="projectName"
                   [ngClass]="{ 'is-invalid': projectForm.invalid && f.projectName.errors }" required>
            <label>Project Name</label>
          </div>
          <!--          </div>-->
          <div class="form-floating mb-3">
                        <textarea class="form-control" style="padding-top: 0.5rem;" cols="2" rows="5"
                                  formControlName="description" placeholder="Description"></textarea>
          </div>
          <div class="form-floating right-field" style="margin-left: 0 !important;">
            <ng-select2 formControlName="status" [width]="'100%'" [data]="statusData">
            </ng-select2>
          </div>
          <div class="form-floating right-field" style="margin-left: 0 !important;">
            <ng-multiselect-dropdown
                [placeholder]="'Assign this project to the employees'"
                [settings]="dropdownSettings"
                [data]="usersData"
                formControlName="assignedUsers"
            >
            </ng-multiselect-dropdown>
          </div>
          <button class="btn btn-primary close-button" type="submit"
                  [disabled]="projectForm.invalid">submit
          </button>
        </form>
      </div>
    </div>
  </div>
</ng-template>

