<div class="wrapper">
  <nav class="navbar navbar-expand" *ngIf="showHeader">
    <div class="navbar-nav">
      <div class="d-flex align-items-center">
        <div class="nav-item nav-link logo-link">
          <img src="./assets/images/icons8-network-2-64.png" alt="" class="net-icon" routerLink="/">
          <p class="head-text task-span" [ngClass]="url == '/' ? 'task-span' : 'transition-task-span'">TASKERY</p>
        </div>
        <div class="nav-item" style="margin-left: 1rem;">
          <button (click)="changeLanguage('en')" class="lang-btn"
                  [ngStyle]="{'color': currentLanguage == 'en' ? 'rgba(108,100,252,0.5)' : 'rgba(147, 147, 147, 0.5)'}">
            EN
          </button>
          <span style="color: rgba(147, 147, 147, 0.5);">/</span>
          <button (click)="changeLanguage('ua')" class="lang-btn"
                  [ngStyle]="{'color': currentLanguage == 'ua' ? 'rgba(108,100,252,0.5)' : 'rgba(147, 147, 147, 0.5)'}">
            UA
          </button>
        </div>
      </div>
      <div class="nav-block" style="margin-left: 8rem;">
        <a class="nav-item nav-link project-list" (click)="contactUs()">{{'contact' | transloco}}</a>
      </div>
      <div class="nav-block align-items-center">
        <a (click)="getStarted()" class="btn btn-sm px-3" style="margin-right: 3rem;">{{'get-started' | transloco}}</a>
        <button type="button" class='avatar'></button>
      </div>
    </div>
  </nav>
  
  <div class="main-body-contents w3-animate-opacity">
    <div class="w3-animate-opacity">
      <!--      <div class="background background2"></div>-->
      <div class="main-content">
        <div class="col-lg-6 px-lg-4">
          <div class="card">
            <div class="card-body" style="padding: 2rem!important;">
              <h4 class="mb-4">{{'tell-us' | transloco}}</h4>
              <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div style="display: flex;justify-content: space-between;">
                  <div class="form-floating mb-3">
                    <input class="form-control" formControlName="firstName" type="text"
                           placeholder="{{'first-name' | transloco}}"
                           [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required>
                    <label>{{'first-name' | transloco}}</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input class="form-control" formControlName="lastName" type="text"
                           placeholder="{{'last-name' | transloco}}"
                           [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required>
                    <label>{{'last-name' | transloco}}</label>
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input class="form-control" formControlName="email" type="email"
                         placeholder="name@example.com"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                  <label>{{'email' | transloco}}</label>
                  <mat-error class="error-message" *ngIf="f.email.errors && f.email.errors.email">
                    {{'email-error' | transloco}}
                  </mat-error>
                </div>
                <p style="font-size: 14px;font-weight: 300;font-style: italic;">{{'request-details' | transloco}}<span
                      style="font-size: 10px;font-style: normal">♥</span></p>
                <div class="form-floating mb-3">
                    <textarea class="form-control form-description" formControlName="description"
                              placeholder="{{'desc' | transloco}}"
                              [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required>
                    </textarea>
                  <label>{{'desc' | transloco}}</label>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">{{'send' | transloco}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="main-contact-text">
            <p class="contact-text">
              {{'contact-text' | transloco}}
            </p>
            <div class="undertext-block">
              <div class="undertext-wrapper">
                <img src="https://img.icons8.com/ios/30/333333/business-documentation.png">
                <p class="head-undertext">{{'contact-undertext' | transloco}}</p>
              </div>
              <div class="undertext-wrapper">
                <img src="https://img.icons8.com/ios/30/333333/goal--v1.png">
                <p class="head-undertext">{{'contact-undertext2' | transloco}}</p>
              </div>
              <div class="undertext-wrapper">
                <img src="https://img.icons8.com/ios/30/333333/rocket--v1.png">
                <p class="head-undertext">{{'contact-undertext3' | transloco}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="main-content main-content-second">
        <div class="col-lg-10 row align-items-center">
          <p class="second-contact-text col">{{'second-contact-text' | transloco}}
            <b>{{'max-prod' | transloco}}</b></p>
          <p class="second-contact-body-text col">
            {{'second-contact-body-text' | transloco}}
          </p>
          <p *ngIf="!currentUser"><a
              (click)="getStarted()" class="btn px-3" style="margin-top: 3rem;margin-left: 10px;">{{'join' | transloco}}&nbsp;&nbsp;→</a>
          </p>
        </div>
      </div>
    
    </div>
  </div>
  <footer class="footer" *ngIf="showHeader">
    <div style="margin-bottom: 1rem;">
      <p>Taskery.com {{'rights' | transloco}}</p>
      <p style="opacity: 0.5;">{{'created-by' | transloco}}</p>
    </div>
  </footer>
</div>

<ngx-spinner bdColor="rgb(238 238 238 / 60%)" size="default" color="rgb(15 16 72)" type="ball-beat" [fullScreen]="true"></ngx-spinner>
