<div class="w3-animate-opacity">
  <div class="main-content">
    <div class="description">
      <div class="main-text">
        <p class="head-text">Hi, {{currentUser.firstName}} {{currentUser.lastName}}</p>
        <p class="head-undertext">This is your Admin Page!</p>
      </div>
      <!--      <div class="block1">-->
      <!--        <div class="info-wrapper">-->
      <!--          <h5 class="title">System Users</h5>-->
      <!--          <p class="info-data">{{numberOfUsers}}</p>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="projects-wrapper w3-animate-opacity custom-table-responsive">
        <h5 class="title">Queries</h5>
        <div class="users-custom-table">
          <table class="custom-table" *ngIf="!!allRequests">
            <tbody>
            <tr *ngFor="let req of allRequests; let idx = index">
              <td style="overflow: hidden; text-overflow: ellipsis;white-space: nowrap;max-width: 110px;">{{req._id}}</td>
              <td class="text-muted text-sm" [innerHTML]="req.description"></td>
              <td>{{req.firstName}} {{req.lastName}}</td>
              <td>
                <a (click)="respond(req._id, sendContent)" class="btn corner">
                  <span class="tooltiptext">respond to the request</span>
                  <mat-icon class="keyboard-tab">keyboard_tab
                  </mat-icon>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <h6 style="padding: 1rem;" *ngIf="!allRequests">No requests yet</h6>
        </div>
      </div>
      
      <div class="projects-wrapper w3-animate-opacity users-custom-table-responsive custom-table-responsive">
        <div style="display: flex;align-items: center;justify-content: space-between;margin-bottom: 1rem;">
          <h5 class="title">System Users</h5>
          <h6 style="margin: 0;font-style: italic;font-size: 12px;">Number of users: {{numberOfUsers}}</h6>
        </div>
        <div class="mb-3" style="display: flex;align-items: center;">
          <ng-select2 [placeholder]="'search by'"
                      [(ngModel)]="searchBy"
                      [width]="'80px'"
                      [data]="searchData">
          </ng-select2>
          <div class="form-group form-floating select-container">
            <input class="form-control" id="myInput" type="text" placeholder="Search for user" style="height: 40px;"
                   (keyup)="searchUser()">
            <label>Search for user</label>
          </div>
        </div>
        <div class="users-custom-table">
          <table id="myTable" class="custom-table">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Role</th>
              <th>Email</th>
              <!--            <th>Send email when</th>-->
              <th>Send email when assigned to the project</th>
              <th>Send email when get new task</th>
              <th>Send email when task is updated</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users; let idx = index">
              <td title="{{user._id}}" style="overflow: hidden; text-overflow: ellipsis;white-space: nowrap;max-width: 110px;">{{user._id}}</td>
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.role}}</td>
              <td>{{user.email}}</td>
              <!--            <td></td>-->
              <td>{{user.sendAssignedEmail ? 'yes' : 'no'}}</td>
              <td>{{user.sendTaskEmail ? 'yes' : 'no'}}</td>
              <td>{{user.sendTaskOverdueEmail ? 'yes' : 'no'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!--  <div class="main-content main-content-second">-->
  <!--    <div class="col-lg-10">-->
  <!--      <p class="second-head-text">It’s more than work. It’s a way of working together.</p>-->
  <!--      <p class="second-body-text">-->
  <!--        Manage projects, organize tasks, and build team spirit-all in one place. Customize and expand with more features-->
  <!--        as your teamwork grows. Start with a Taskery board, lists, and cards.-->
  <!--      </p>-->
  <!--    </div>-->
  <!--  </div>-->

</div>

<ngx-spinner bdColor="rgb(170 170 170 / 50%)" size="small" color="rgb(32 32 32)" type="ball-beat"
             [fullScreen]="true"></ngx-spinner>


<ng-template #sendContent let-modal>
  <div class="container">
    <div class="row align-items-center">
      <div class="card-body" style="padding: 2rem;">
        <div class="form-floating title-block">
          Respond to the Request
        </div>
        <hr class="line">
        <div class="body-content">
          <div class="left-block">
            <div class="form-floating">
              <p>NAME</p>
              <span>{{respondData.firstName}} {{respondData.lastName}}</span>
            </div>
            <div class="form-floating">
              <p>EMAIL</p>
              <span>{{respondData.email}}</span>
            </div>
          </div>
          <div class="right-block">
            <div class="form-floating description-block" [innerHTML]="respondData.description | safeHtml">
            </div>
            <div class="form-floating mb-3 mt-4">
                    <textarea class="form-control form-description"
                              [(ngModel)]="respondMsg"
                              [ngClass]="{ 'is-invalid': submitted && respondMsg == ''}" required>
                    </textarea>
              <label>Write your respond here</label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer px-lg-5">
<!--        <button class="btn btn-outline-primary" (click)="onSubmit(respondData, modal)"-->
<!--                [disabled]="respondData.description == ''">respond-->
<!--        </button>-->
        <div class="action-btns">
          <button class="update-task" (click)="onSubmit(respondData, modal, 'respond')">
            Respond
          </button>
          <button class="delete-task" (click)="onSubmit(respondData, modal, 'delete')">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
