<div style="margin: 5rem auto 5rem auto;">
  <div class="form-group form-floating mb-3 select-container"
       style="display: flex;justify-content: space-between;z-index: 1;align-items: flex-end;margin: 0 4rem;">
    <ng-select2 [placeholder]="'project-filter' | transloco"
                [value]="selectedProject"
                [width]="'300px'"
                [data]="projectsData"
                [allowClear]="true"
                (valueChanged)="filter($event)">
    </ng-select2>

    <button *ngIf="currentUser.role != 'ProjectManager'" [ngClass]="AllIssues ? 'all-tasks' : 'my-tasks'"
            style="font-size: 11px; height: 22px; margin-right: 1rem;" (click)="showIssues(selectedProject)">
      {{'all-issues' | transloco}}
    </button>
  </div>
  <div style="margin-top: -2rem;">
    <jqxScheduler #schedulerReference
                  [legendPosition]="'top'"
                  [showLegend]="true"
                  [width]="'93%'"
                  [date]="date"
                  [height]="700"
                  [ready]="ready"
                  [views]="views"
                  [toolbarHeight]="35"
                  [editDialog]="false"
                  [contextMenu]="false"
                  [appointmentDataFields]="appointmentDataFields"
                  (onAppointmentDoubleClick)="taskDoubleClick(previewContent, $event)"
                  (onAppointmentChange)="dateChanged($event)"
                  style="margin: 3rem auto;">
    </jqxScheduler>
  </div>
</div>

<!--<div class="no-content">-->
<!--  <p>There is no data to display😢</p>-->
<!--</div>-->

<ng-template #previewContent let-modal>
  <div class="container">
    <div class="row align-items-center">
      <div class="card-body" style="padding: 2rem;">
        <div class="form-floating title-block">
          {{previewData.title}}
        </div>
        <hr class="line">
        <div class="body-content">
          <div class="left-block">
            <div class="form-floating">
              <p>{{'project-uc' | transloco}}</p>
              <span>{{previewData.projectName}}</span>
            </div>
            <div class="form-floating">
              <p>{{'status-uc' | transloco}}</p>
              <span>{{previewData.status}}</span>
            </div>
            <div class="form-floating">
              <p>{{'deadline-uc' | transloco}}</p>
              <span>{{previewData.deadline | date: 'YYYY-MM-dd'}}</span>
            </div>
            <div class="form-floating">
              <p>{{'assignee-uc' | transloco}}</p>
              <span>{{previewData.employee}}</span>
            </div>
          </div>
          <div class="right-block">
            <div class="form-floating description-block" [innerHTML]="previewData.description | safeHtml">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ngx-spinner bdColor="rgb(238 238 238 / 60%)" size="default" color="rgb(15 16 72)" type="ball-beat" [fullScreen]="true"></ngx-spinner>
