<div class="w3-animate-opacity">
<!--  <div class="background"></div>-->
<!--  <div class="background background2"></div>-->
  <div class="main-content">
    <div class="description">
      <p class="head-text" style="text-indent: 420px;">HELPS TEAMS TO MOVE WORK FORWARD.</p>
      <p class="body-text">Collaborate, manage projects, and reach new productivity peaks. For many teams, Taskery is a
        mission-critical tool to <span class="italic-span">plan</span>, <span class="italic-span">track</span>, and
        <span class="italic-span">report</span> on work. With Taskery, you can rest easy knowing that you have
        the right foundation on which to grow. Get visibility into your active employees so you can better forecast your
        company's needs. Strategically plan and track work across multiple teams with a single source of truth into the
        health of
        your initiatives. Taskery helps you manage projects, <span class="italic-span">focus on what’s important</span>,
        and organize work in one place for seamless collaboration.</p>
    </div>
    <!--    <div class="home-image">-->
    <!--      <img class="image" src="./assets/images/constructor_2x.png" alt="">-->
    <img class="image2" src="./assets/images/constructor_2x.png" alt="">
    <!--    </div>-->
  </div>
  
  <div class="main-content main-content-second">
    <div class="col-lg-10 offset-lg-1">
      <p class="second-head-text">It’s more than work. It’s a way of working together.</p>
      <p class="second-body-text">
        Manage projects, organize tasks, and build team spirit-all in one place. Customize and expand with more features as your teamwork grows. Start with a Taskery board, lists, and cards.
      </p>
      <p><a (click)="redirect()" class="btn btn-outline-primary px-3">Go to the project list →</a></p></div>
  </div>
</div>

<ngx-spinner bdColor = "rgb(170 170 170 / 50%)" size = "default" color = "rgb(32 32 32)" type = "ball-atom" [fullScreen] = "true"></ngx-spinner>
