@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.main-content {
  margin: 2rem 4rem;
  display: flex;
  position: relative;
  height: 700px;

  .description {
    width: 100%;

    .head-text {
      font-weight: 900 !important;
      font-family: 'Inter', serif;
      font-size: 68px;
      line-height: 80px;
      margin: 0;
    }

    .contact-text {
      font-weight: 400;
      color: #333333;
      font-size: 48px;
      line-height: 65px;
      margin: 0;
    }

    .body-text {
      width: 56%;
      font-size: 14px;
      color: rgba(55, 61, 63, 0.8);
      font-weight: 500;
      font-family: "Libre Baskerville", serif;
      margin-left: auto;
      text-align: justify;
      margin-bottom: 0;
      margin-top: -80px;

      .italic-span {
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        font-size: 15px;
      }
    }
  }

  .task-span {
    position: absolute;
    width: 405px;
    color: rgb(76 126 253);
  }

  .second-head-text {
    font-size: 2.7rem;
    line-height: 3rem;
    font-weight: 900;
  }

  .second-contact-text {
    font-size: 2.7rem;
    line-height: 3rem;
    text-align: right;
  }

  .second-body-text, .second-contact-body-text {
    font-family: 'Inter', serif;
    font-size: 15px;
    margin: -0.5rem auto 3rem auto;
    text-align: center;
    color: rgba(55, 61, 63, 0.8);
  }

  .second-contact-body-text {
    text-align: left;
    margin-bottom: 0rem;
  }

  .image2 {
    height: 700px;
    width: 700px;
  }
}

.main-content-second {
  text-align: center;
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;

  h2 {
    font-weight: 600 !important;
  }

  p {
    font-family: 'Inter', sans-serif;
  }
}

.background {
  filter: blur(30px);
  width: 400px;
  z-index: -1;
  height: 400px;
  position: absolute;
  border-radius: 72%;
  left: 5%;
  top: 14%;
  background: linear-gradient(322deg, white 40%, #ece9ff 50%);
}

.background2 {
  top: 125%;
  left: 60%;
  width: 200px;
  height: 200px;
  background: #eae6ff;
  filter: blur(30px);
}

.btn-outline-primary {
  transition: all 0.4s ease-in-out;
}

.main-text {
  position: absolute;
  width: 61%;
  left: 5rem;
  top: 7rem;
}

.main-contact-text {
  position: absolute;
  width: 40%;
  right: 5rem;
  top: 3rem;
}

.head-undertext {
  font-size: 20px;
}

.daily-link {
  cursor: pointer;
  text-decoration: none;
  color: #00c874;
  font-weight: 600;
  font-size: 15px;
  background: rgba(0, 200, 116, 0.15);
  padding: 5px 10px;
  border-radius: 20px;
  //border: 2px solid #fff;
  transition: ease-in 0.5s;

  animation: pulse-animation 2s infinite;
  border: 2px solid rgba(0, 200, 116, 0.1);

  //&:hover {
  //  //transform: scale(1.05);
  //  transition: ease-out 0.5s;
  //}
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 200, 116, 1);
  }
  20% {
    box-shadow: 0 0 0 2px rgba(0, 200, 116, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.custom-table {
  border-spacing: 0 15px;
  border-collapse: separate;
  padding: 0 1rem 1rem;
  display: flex;
  font-size: 15px;

  thead, tbody {
    tr {
      th, td {
        vertical-align: middle;
        border: none;
        padding: 0 1rem;

        &:nth-last-child(1) {
          text-align: center;
        }
      }
    }
  }


  tbody {
    tr {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background: #fff !important;

      td {
        background: #fff;
        padding: 1rem;

        &:nth-child(1) {
          border-radius: 10px 0 0 10px;
        }

        &:nth-last-child(1) {
          border-radius: 0 10px 10px 0;
        }
      }

      th {
        padding: 1rem;
      }
    }
  }
}

.text-muted {
  overflow: hidden;
  -webkit-line-clamp: 3;
  text-align: justify;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
  width: 630px;
  font-size: 12px;
  padding: 1rem 2rem;
}

.keyboard-tab {
  font-size: 15px;
  display: flex;
  align-items: center;
}

::ng-deep .btn:first-child:active {
  border-color: #fff;
}

.deadline {
  font-size: 12px;
  width: 110px;
}

.tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #f0f1f2;
  color: #888E99;
  font-weight: 500;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -25px;
  left: -25px;
  font-size: 0.7rem;
  transition: visibility 1s cubic-bezier(0.76, -0.37, 0.15, 1.23);
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f0f1f2 transparent transparent transparent;
}

.corner {
  position: relative;
}

.corner:hover .tooltiptext {
  visibility: visible;
}

.task-type {
  margin-top: 10px;
  border-radius: 10px;
  height: auto;
  margin-right: 10px;
  padding: 10px 3px;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;
  font-weight: 700;
  color: rgba(255, 59, 48, 1);
  background: rgba(255, 59, 48, 0.1);
  font-size: 12px;
  cursor: pointer;
  transition: all 0.5s;
}

.task-type2 {
  color: rgba(76, 217, 100, 1);
  background: rgba(76, 217, 100, 0.1);
}

.task-type3 {
  color: rgba(0, 122, 255, 1);
  background: rgba(0, 122, 255, 0.1);
}

.hidden-type {
  border-radius: 10px;
  background: rgba(255, 59, 48, 0.5);
  height: 20px;
  width: 20px;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 100;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  color: transparent;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 1px;
}

.hidden-type2 {
  background: rgba(76, 217, 100, 0.5);
}

.hidden-type3 {
  background: rgba(0, 122, 255, 0.5);
}

.project-name {
  opacity: 0.4;
  font-size: 12px;
  font-weight: 500;
}


@media (min-width: 1401px) and (max-width: 1560px) {
  .main-content {
    height: 600px;

    .image2 {
      height: 600px;
      width: 600px;
    }

    .head-text {
      font-size: 60px !important;
      line-height: 70px !important;
    }

    .contact-text {
      font-size: 40px !important;
      line-height: 55px !important;
    }
  }
}

@media (max-width: 1400px) {
  .main-content {
    height: 550px;

    .image2 {
      height: 550px;
      width: 550px;
    }

    .head-text {
      font-size: 55px !important;
      line-height: 60px !important;
    }

    .contact-text {
      font-size: 35px !important;
      line-height: 45px !important;
    }
  }
  .main-text {
    left: 2rem;
  }
  .main-contact-text {
    right: 2rem;
  }
}

@media (max-width: 1382px) {
  .main-content {
    height: 500px;

    .image2 {
      height: 500px;
      width: 500px;
    }

    .head-text {
      font-size: 50px !important;
      line-height: 55px !important;
    }

    .contact-text {
      font-size: 30px !important;
      line-height: 40px !important;
    }

    .second-head-text, .second-contact-text {
      font-size: 2.3rem;
      line-height: 2rem;
    }

    .second-body-text, .second-contact-body-text {
      font-size: 13px;
      margin: -0.5rem auto 2rem auto;
    }

    .second-contact-body-text {
      margin-bottom: 0rem;
    }
  }
  .head-undertext {
    font-size: 18px;
  }
}
