<div class="w3-animate-opacity">
  <div class="main-content">
    <div class="description">
      <div class="main-text">
        <p class="head-text"><span style="color: #fff;">TASKERY </span>{{'initial-head-text' | transloco}}</p>
        <p class="head-undertext">{{'initial-head-undertext' | transloco}}</p>
      </div>
      <p style="position: absolute;bottom: 10%;left: 20%;display: flex;flex-direction: column;align-items: center;"
         *ngIf="currentUser.role == 'TeamMember'">
        <a (click)="scroll(daily)" class="daily-link">{{'see-day-tasks' | transloco}}</a>
        <img src="./assets/images/icons8-double-down-50.png" style="height: 25px;">
      </p>
    </div>
    <img class="image2" src="./assets/images/hand_image2.png" alt="">
  </div>

  <div class="main-content main-content-second">
    <div class="background"></div>
    <div class="col-lg-10">
      <p class="second-head-text">{{'second-head-text' | transloco}}</p>
      <p class="second-body-text">{{'second-body-text' | transloco}}</p>
      <p><a (click)="projectList()" class="btn btn-outline-primary px-3" style="margin-left: 10px;">{{'go-to-projects-list' | transloco}}&nbsp;→</a></p>
    </div>
  </div>

  <span #daily>
    <div style="margin: 0 4rem 5rem 4rem;padding-top: 2rem;min-height: 400px"
         *ngIf="currentUser.role !== 'ProjectManager'">
    <h2>{{'day-tasks' | transloco}}</h2>
    <div class="projects-wrapper w3-animate-opacity custom-table-responsive"
         *ngIf="!!myTasks && !!myTasks.overdue.length"
         style="background: #f4f5f7;margin: 0 10px;border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom: 2px solid rgba(216,220,228,0.2);">
      <table class="custom-table">
        <div [ngClass]="overdue ? 'hidden-type' : 'task-type'" (click)="hide('overdue')">{{'overdue-tasks-uc' | transloco}}</div>
        <!--        <thead>-->
        <!--        <tr>-->
        <!--          <th style="width: 200px;">Project name</th>-->
        <!--          <th>Description</th>-->
        <!--          <th style="width: 150px;">Status</th>-->
        <!--          <th style="width: 20px;"></th>-->
        <!--        </tr>-->
        <!--        </thead>-->
        <tbody *ngIf="!overdue">
        <tr *ngFor="let task of myTasks.overdue; let idx = index">
          <td style="width: 250px;line-height: 1rem;">{{task.title}}<br><span class="project-name">{{task.projectName}}</span></td>
          <td class="text-muted text-sm" [innerHTML]="task.description | safeHtml"></td>
          <td class="deadline">{{task.deadline}}</td>
          <td style="width: 60px;">
            <a (click)="goToList(task.projectId)" class="btn corner">
              <span class="tooltiptext">{{'go-to-tasks-list' | transloco}}</span>
              <mat-icon class="keyboard-tab">keyboard_tab
              </mat-icon>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="projects-wrapper w3-animate-opacity custom-table-responsive" *ngIf="!!myTasks && !!myTasks.today.length"
         style="border-radius: 0;background: #f4f5f7;margin: 0 10px;">
      <table class="custom-table">
        <div [ngClass]="today ? 'hidden-type hidden-type2' : 'task-type task-type2'" (click)="hide('today')">{{'today-tasks-uc' | transloco}}</div>
        <!--        <thead>-->
        <!--        <tr>-->
        <!--          <th style="width: 200px;">Project name</th>-->
        <!--          <th>Description</th>-->
        <!--          <th style="width: 150px;">Status</th>-->
        <!--          <th style="width: 20px;"></th>-->
        <!--        </tr>-->
        <!--        </thead>-->
        <tbody *ngIf="!today">
        <tr *ngFor="let  task of  myTasks.today; let idx = index">
          <td style="width: 250px;line-height: 1rem;">{{task.title}}<br><span class="project-name">{{task.projectName}}</span></td>
          <td class="text-muted text-sm" [innerHTML]="task.description | safeHtml"></td>
          <td class="deadline">{{task.deadline}}</td>
          <td style="width: 60px;">
            <a [routerLink]="['/board', {'paramKey': task.projectId}]" class="btn corner">
              <span class="tooltiptext">{{'go-to-tasks-list' | transloco}}</span>
              <mat-icon class="keyboard-tab">keyboard_tab
              </mat-icon>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="projects-wrapper w3-animate-opacity custom-table-responsive"
         *ngIf="!!myTasks && !!myTasks.upcoming.length"
         style="background: #f4f5f7;margin: 0 10px;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;border-top: 2px solid rgba(216,220,228,0.2);">
      <table class="custom-table">
        <div [ngClass]="upcoming ? 'hidden-type hidden-type3' : 'task-type task-type3'" (click)="hide('upcoming')">{{'upcoming-tasks-uc' | transloco}}</div>
        <!--        <thead>-->
        <!--        <tr>-->
        <!--          <th style="width: 200px;">Project name</th>-->
        <!--          <th>Description</th>-->
        <!--          <th style="width: 150px;">Status</th>-->
        <!--          <th style="width: 20px;"></th>-->
        <!--        </tr>-->
        <!--        </thead>-->
        <tbody *ngIf="!upcoming">
        <tr *ngFor="let  task of  myTasks.upcoming; let idx = index">
          <td style="width: 250px;line-height: 1rem;">{{task.title}}<br><span class="project-name">{{task.projectName}}</span></td>
          <td class="text-muted text-sm" [innerHTML]="task.description | safeHtml"></td>
          <td class="deadline">{{task.deadline}}</td>
          <td style="width: 60px;">
            <a [routerLink]="['/board', {'paramKey': task.projectId}]" class="btn corner">
              <span class="tooltiptext">{{'go-to-tasks-list' | transloco}}</span>
              <mat-icon class="keyboard-tab">keyboard_tab
              </mat-icon>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </span>
</div>

<ngx-spinner bdColor="rgb(238 238 238 / 60%)" size="default" color="rgb(15 16 72)" type="ball-beat" [fullScreen]="true"></ngx-spinner>
