mat-error {
  font-size: 12px;
}

.name-block {
  font-size: 25px;
  margin-bottom: 77px;
  p {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.p-email {
  color: #B3BAC5;
  font-size: 14px;
  margin-bottom: 0;
}

.p-role {
  font-size: 11px;
  color: #4650DD;
  font-weight: 600;
  margin-bottom: 0.5rem !important;
  margin-top: -1rem !important;
}

.card2 {
  color: black;
}

.form-group {
  text-align: right;
}

.eye {
  position: absolute;
  top: 17px;
  right: 30px;
  color: #949ba5;
  cursor: pointer;
}

.pencil {
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
  color: #949ba5;
}

.x {
  cursor: pointer;
  color: #949ba5;
  margin-left: 10px;
}

.form-floating {
  display: flex;
  align-items: center;
  img {
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
  }
}

.page-holder {
  height: 401px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-user {
  border: 1px solid #fff;
  background: #fff;
  padding: 1px 5px;
  color: #d90429;
  border-radius: 20px;
  transition: 0.5s;
  font-size: 12px;
  height: 22px;
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

.delete-user:hover {
  border: 1px solid #d90429;
}
